footer{
    background: #222222;
    padding: 40px;
    color: white;
    font-size: 17px;
    // .texto1{
    //     margin-left: 30px ;
    // }
    // .texto2{
    //     margin-right: 30px ;
    // }
}